<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>PanchoBear</title>
    <meta name="description" content="Panchobear">
    <meta name="keywords" content="Panchobear">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic'>
    <!-- Gallery CSS -->
    <link rel="stylesheet" href="css/buttons/buttons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jslider.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/royalslider/royalslider.css">
    <link rel="stylesheet" href="css/royalslider/skins/minimal-white/rs-minimal-white.css">
    <link rel="stylesheet" href="css/layerslider/layerslider.css">
    <link rel="stylesheet" href="css/ladda.min.css">
    <link rel="stylesheet" href="css/jquery.scrollbar.css">
    <link rel="stylesheet" href="css/gallery_style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/customizer/pages.css">
    <link rel="stylesheet" href="css/customizer/pages-pages-customizer.css">
    <link rel='stylesheet' href="css/ie/ie.css">
    <!-- Startuply CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/toastr.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="landing-page">
    <!-- Preloader -->
    <div id="mask">
      <div id="loader"></div>
    </div>
    <header>
      <nav class="navigation navigation-header">
        <div class="container">
          <div class="navigation-brand">
            <div class="brand-logo">
              <!-- <a href="index.html" class="logo"></a> -->
              <h4 class="white">PanchoBear Gifts</h4>
              <span class="sr-only">panchobear</span>
            </div>
            <button class="navigation-toggle visible-xs" type="button" data-toggle="dropdown" data-target=".navigation-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navigation-navbar">
            <ul class="navigation-bar navigation-bar-right">
              <li class="active"><a href="#about">About</a></li>
              <li><a href="#shop">Shop</a></li>
              <li><a href="#feedback">Feedback</a></li>
              <li><a href="#team">Team</a></li>
              <li><a href="#guarantee">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="about" class="static-header light clearfix">
      <div class="text-heading">
        <h1 class="animated hiding" data-animation="bounceInDown" data-delay="0">
          Turn your favorite <span class="highlight">pet</span> into a gift!
        </h1>
        <p class="animated hiding" data-animation="fadeInDown" data-delay="450">Choose from our many personalized products</p>
      </div>
      <div class="video-wrapper">
        <div class="container">
          <!-- <img src="img/features/app_block.png" alt="video" class="img-responsive animated hiding" data-animation="bounceInUp" data-delay="1000" /> -->
          <img src="img/pancho_transparent.png" alt="video" class="img-responsive animated hiding" data-animation="bounceInUp" data-delay="1000" />
        </div>
      </div>
    </div>
    <a id="showHere"></a>
    <section id="shop" class="section dark">
      <div class="container">
        <div class="row">
          <div class="content gallery col-sm-12 col-md-12">
            <div id="gallery-modern" class="row">
              <div class="images-box col-sm-6 col-md-6">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-2.jpg">
                <img src="img/products/largebag.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$45</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-1.jpg">
                <img src="img/products/businesscardsticker.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$2</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-3.jpg">
                <img src="img/products/calendar.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$25</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-4.jpg">
                <img src="img/products/card.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$10</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-5.jpg">
                <img src="img/products/mousepad.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$15</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-7.jpg">
                <img src="img/products/mug.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$15</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-8.jpg">
                <img src="img/products/pen.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$8</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-6 col-md-6">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-6.jpg">
                <img src="img/products/sticker.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$2</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-9.jpg">
                <img src="img/products/totebag.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$40</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
              <div class="images-box col-sm-3 col-md-3">
                <a class="gallery-images" rel="fancybox" href="img/content/portfolio-1.jpg">
                <img src="img/products/womans shirt.png" width="100%" height="197" alt="">
                <h3 style="position:absolute; margin-top:-45px; margin-left:13px">$35</h3>
                <span class="bg-images"></span>
                </a>
              </div>
              <!-- .images-box -->
            </div>
          </div>
          <!-- .content -->
        </div>
      </div>
      <!-- .container -->
    </section>
    <section id="feedback" class="section light">
      <div class="container">
        <div class="section-header animated hiding" data-animation="fadeInDown">
          <h2>What <span class="highlight">Customers</span> Say</h2>
        </div>
        <div class="section-content">
          <!-- BEGIN SLIDER CONTENT -->
          <div class="col-sm-10 col-sm-offset-1">
            <div class="flexslider testimonials-slider center animated hiding" data-animation="fadeInTop">
              <ul class="slides">
                <li>
                  <div class="testimonial resp-center clearfix">
                    <blockquote>
                      This is the best and funniest shit ever, lol
                    </blockquote>
                  </div>
                </li>
                <li>
                  <div class="testimonial resp-center clearfix">
                    <blockquote>
                      I put a picture of my plant on a mug
                    </blockquote>
                  </div>
                </li>
                <li>
                  <div class="testimonial resp-center clearfix">
                    <blockquote>
                      See fut
                    </blockquote>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <!-- END SLIDER -->
        </div>
      </div>
    </section>
    <section id="feedback-controls" class="section light">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <!-- BEGIN CONTROLS -->
          <div class="flex-manual">
            <div class="col-xs-12 col-sm-4 wrap">
              <div class="switch flex-active">
                <img alt="client" src="img/people/jeanie.jpg" class="sm-pic img-circle pull-left" width="69" height="70">
                <p>
                  <span class="highlight">Jeanie To</span><br/>Owner of <span class="highlight">Stinky Cat</span>
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 wrap">
              <div class="switch pull-left">
                <img alt="client" src="img/people/cassie.jpg" class="sm-pic img-circle pull-left" width="69" height="70">
                <p>
                  <span class="highlight">Cassie Kosky</span><br/>Owner of <span class="highlight">A Plant</span>
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 wrap">
              <div class="switch">
                <img alt="client" src="img/people/anthony.jpg" class="sm-pic img-circle pull-left" width="68" height="69">
                <p>
                  <span class="highlight">Shao Fen Zhang</span><br/>Owner of <span class="highlight">Leen Goh</span>
                </p>
              </div>
            </div>
          </div>
          <!-- END CONTROLS -->
        </div>
      </div>
    </section>
    <section id="team" class="section dark">
      <div class="container">
        <div class="section-header animated hiding" data-animation="fadeInDown">
          <h2>BEHIND <span class="highlight">THE</span> SCENES</h2>
          <div class="sub-heading">
            We did this
          </div>
          <br/>
          <p>We are brother/sister/cat and did this website, blah blah blah and something cool here </p>
        </div>
        <div class="section-content row">
          <div class="member col-md-3 col-sm-3 col-xs-6 animated hiding">
          </div>
            <div class="member col-md-3 col-sm-3 col-xs-6 animated hiding" data-animation="fadeInDown">
              <div class="thumb-wrapper">
                <div class="overlay img-circle"></div>
                <img src="img/people/anthony.jpg" class="img-responsive img-circle" alt="thumb" />
              </div>
              <span class="h7 highlight">Anthony To</span>
              <p class="thin">Engineer</p>
            </div>
            <div class="member col-md-3 col-sm-3 col-xs-6 animated hiding" data-animation="fadeInDown" data-delay="745">
              <div class="thumb-wrapper">
                <div class="overlay img-circle"></div>
                <div class="socials">
                </div>
                <img src="img/people/jeanie.jpg" class="img-responsive img-circle" alt="thumb" />
              </div>
              <span class="h7 highlight">Jeanie To</span>
              <p class="thin">Marketeer</p>
            </div>
        </div>
      </div>
    </section>
    <footer id="footer" class="footer light">
      <div class="container">
        <div class="footer-content row">
          <div class="col-sm-4">
            <div class="logo-wrapper">
              <!-- <img src="img/logo.png" alt="logo" /> -->
              <h4 class="white">The PanchoBear Philosophy</h4>
            </div>
            <p>Jeanie got a cat and we wanted to do something funny with it, so here we are I guess. lol</p>
            <p><strong>Jeanie & Anthony, Founders</strong></p>
          </div>
          <div class="col-sm-5 social-wrap">
            <div class="footer-title">Social Networks</div>
            <ul class="list-inline socials">
              <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-04"></span></a></li>
            </ul>
            <ul class="list-inline socials">
              <li><a href="#"><span class="icon icon-socialmedia-07"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-16"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-09"></span></a></li>
              <li><a href="#"><span class="icon icon-socialmedia-08"></span></a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <div class="footer-title">Our Contacts</div>
            <ul class="list-unstyled">
              <li>
                <a href="mailto:info@panchobear.com">info@panchobear.com</a>
              </li>
              <li>
                12231 Darkwood Road, San Diego, CA 92129
              </li>
              <li>
                1 - 222 - 333 - 4444
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">PanchoBear Inc. All rights reserved.</div>
    </footer>
    <!-- Gallery JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/price-regulator/jshashtable-2.1_src.js"></script>
    <script src="js/price-regulator/jquery.numberformatter-1.2.3.js"></script>
    <script src="js/price-regulator/tmpl.js"></script>
    <script src="js/price-regulator/jquery.dependClass-0.1.js"></script>
    <script src="js/price-regulator/draggable-0.1.js"></script>
    <script src="js/price-regulator/jquery.slider.js"></script>
    <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="js/jquery.touchSwipe.min.js"></script>
    <script src="js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="js/jquery.imagesloaded.min.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.sparkline.min.js"></script>
    <script src="js/jquery.easypiechart.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/jquery.knob.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.selectBox.min.js"></script>
    <script src="js/jquery.royalslider.min.js"></script>
    <script src="js/jquery.tubular.1.0.js"></script>
    <script src="js/SmoothScroll.js"></script>
    <script src="js/country.js"></script>
    <script src="js/spin.min.js"></script>
    <script src="js/ladda.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/morris.min.js"></script>
    <script src="js/raphael.min.js"></script>
    <script src="js/video.js"></script>
    <script src="js/pixastic.custom.js"></script>
    <script src="js/livicons-1.4.min.js"></script>
    <script src="js/layerslider/greensock.js"></script>
    <script src="js/layerslider/layerslider.transitions.js"></script>
    <script src="js/layerslider/layerslider.kreaturamedia.jquery.js"></script>
    <script src="js/revolution/jquery.themepunch.plugins.min.js"></script>
    <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="js/bootstrapValidator.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jplayer/jquery.jplayer.min.js"></script>
    <script src="js/jplayer/jplayer.playlist.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Startuply JS -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]-->  
    <!--[if (gte IE 9) | (!IE)]><!-->  
    <script type="text/javascript" src="js/jquery-2.1.0.min.js?ver=1"></script>
    <!--<![endif]-->  
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery.nav.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <script type="text/javascript" src="js/jquery.plugin.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="js/toastr.min.js"></script>
    <script type="text/javascript" src="js/headhesive.min.js"></script>
    <script type="text/javascript" src="mailchimp/js/mailing-list.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </body>
</html>